.App-body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background-color: black;
}

.forex {
    color: white;
}

.forex-table {
    border-collapse: collapse;
    font-size: 28px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    overflow: hidden;
    margin: auto;
    width: 50% !important; 
}
